@import url("https://fonts.googleapis.com/css?family=EB+Garamond|Raleway|Tangerine&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden; }

a,
h3,
p {
  font-family: "Raleway", sans-serif; }

h1 {
  font-size: 4rem; }
