@import "../../../../sass/variables";

.header {
  min-height: 100vh;
  background: $brand-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .title__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    animation: fadein 0.6s linear forwards;
    & h1 {
      font-family: "Tangerine", Verdana, Geneva, Tahoma, sans-serif;
      color: $brand-brown;
      font-size: 5rem;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-width: 27rem;
      &::before {
        content: "";
        width: 7rem;
        height: 0.2rem;
        display: block;
        background: $brand-accent;
      }
      &::after {
        content: "";
        width: 7rem;
        height: 0.2rem;
        display: block;
        background: $brand-accent;
      }
    }
  }
}
.quiz__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 50rem;
  max-width: 50rem;
  background: darken($brand-blue, 5%);
  & button {
    margin-top: 1rem;
    padding: 1rem;
    background: $brand-accent;
    color: $brand-text;
    border: 1px solid $brand-accent;
    width: 10rem;
    align-self: flex-end;
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      box-shadow: 0 5px 5px darken($brand-blue, 5%);
    }
  }
  & button:disabled {
    margin-top: 1rem;
    padding: 1rem;
    background: $brand-blue;
    color: $brand-accent;
    border: 1px solid $brand-blue;
    width: 10rem;
    align-self: flex-end;
    &:hover {
      cursor: not-allowed;
    }
  }
  & .progress__bar {
    width: 100%;
    height: 1rem;
    display: block;
    background: $brand-accent;
    margin: 1rem 0;
    transition: all 0.3s ease-in-out;
    box-shadow: inset 0 4px 4px darken($brand-accent, 5%);
    & .progress__bar__fill {
      background: repeating-linear-gradient(
        70deg,
        #2ac22a,
        #2ac22a 20px,
        $brand-accent 20px,
        $brand-accent 25px
      );
      width: 0%;
      height: 100%;
      background-size: 30px 30px;
      transition: all 0.3s ease-in-out;
      animation: spin 1s linear infinite;
    }
  }
  & .quiz {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 50rem;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      height: 0;
      width: 0;
      visibility: hidden;
    }
    & .question {
      scroll-snap-align: start;
      min-width: 50rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    & .question__num {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      & p {
        color: $brand-text;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        &::after {
          content: "";
          width: 7rem;
          height: 0.1rem;
          display: block;
          background: $brand-brown;
          margin: 0.2rem 0;
        }
      }
      & span {
        align-self: center;
        color: $brand-text;
        font-family: "Raleway", sans-serif, serif;
      }
    }
    & .question__question {
      & p {
        color: $brand-text;
        font-size: 1.4rem;
      }
    }
    & .question__problem {
      padding: 0.5rem;
      background: darken($brand-blue, 15%);
      margin: 0.5rem 0;
      width: 90%;
      & p {
        font-size: 1.4rem;
        color: $brand-brown;
      }
    }
    & .choices {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
      gap: 0.5rem;
      width: 92%;
      & .input__row {
        background: darken($brand-blue, 15%);
        padding: 0.5rem;
        transition: all 0.4s ease-in-out;
        &:hover {
          cursor: pointer;
          background: darken($brand-blue, 20%);
          box-shadow: 0 2px 2px darken($brand-blue, 20%);
        }
        &:hover label {
          cursor: pointer;
        }
        & label {
          color: $brand-accent;
          font-family: "Raleway", sans-serif, serif;
          font-size: 1.4rem;
          display: inline-block;
        }
        & input[type="radio"] {
          opacity: 0;
          position: fixed;
          width: 0;
        }
        & input[type="radio"]:checked + label {
          color: $brand-brown;
        }
      }
      & .active {
        background: darken($brand-blue, 20%);
        box-shadow: 0 2px 2px darken($brand-blue, 20%);
      }
    }
  }
}

@keyframes spin {
  0% {
    box-shadow: 0 0 0 transparent;
    background-position: 30px 0px;
  }
  50% {
    box-shadow: 0 0px 15px #2ac22a;
  }
  100% {
    background-position: 60px 00px;
    box-shadow: 0 0 0 transparent;
  }
}
