@import "../../../../sass/variables";

.results__container {
  width: 100%;
  & .percent__display {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid $brand-blue;
    & h2 {
      color: $brand-text;
      font-family: "Raleway", sans-serif, serif;
      font-size: 3rem;
    }
  }
  & .answers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    & .question__result {
      width: 60%;
      background: darken($brand-blue, 15%);
      margin: 1rem 0;
      padding: 1rem;
      & .result__heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $brand-blue;
        width: 100%;
        & h4 {
          color: $brand-brown;
          font-family: "Raleway", sans-serif, serif;
          font-size: 1.8rem;
        }
        & .correct {
          font-size: 1.8rem;
          color: $success;
        }
        & .incorrect {
          font-size: 1.8rem;
          color: $warning;
        }
      }

      & p {
        color: $brand-text;
        font-size: 1.2rem;
      }
      & .correct {
        color: $success;
      }
      & .incorrect {
        color: $warning;
      }
    }
  }
}
