@import "../../../../sass/variables";

.start__container {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  & button {
    margin-top: 1rem;
    padding: 1rem;
    background: $brand-accent;
    color: $brand-text;
    border: 1px solid $brand-accent;
    width: 10rem;
    align-self: flex-end;
    transition: all 0.3s ease-in-out;
    &:hover {
      cursor: pointer;
      box-shadow: 0 5px 5px darken($brand-blue, 15%);
    }
  }
  & .quiz__rules {
    & h2 {
      color: lighten($brand-accent, 15%);
      font-size: 3rem;
      &::after {
        content: "";
        width: 14vw;
        height: 0.1rem;
        display: block;
        background: $brand-brown;
        margin: 0.2rem 0;
      }
    }
    & .rules__container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      & .rule__row {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid $brand-blue;

        & p:nth-child(1) {
          padding: 0.5rem;
          margin-right: 0.5rem;
          background: $brand-blue;
          font-size: 1.2rem;
          color: lighten($brand-accent, 15%);
        }
        & p:not(:first-child) {
          font-size: 1.2rem;
          color: $brand-text;
        }
      }
    }
  }
}
