@import "../../../../sass/variables";
.header {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  & .title__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;
    margin: 2rem 0;
    opacity: 0;
    animation: fadein 0.6s linear forwards;
    & h1 {
      font-family: "Tangerine", Verdana, Geneva, Tahoma, sans-serif;
      color: $brand-brown;
      font-size: 5rem;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-width: 27rem;
      &::before {
        content: "";
        width: 7rem;
        height: 0.2rem;
        display: block;
        background: $brand-accent;
      }
      &::after {
        content: "";
        width: 7rem;
        height: 0.2rem;
        display: block;
        background: $brand-accent;
      }
    }
    & p {
      margin: 0;
      color: $brand-text;
      font-size: 2rem;
      font-family: "EB Garamond", "Lucida Sans", "Lucida Sans Regular",
        "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
  }
  & .info__container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 50vw;
  }
  & .photo__container {
    z-index: 2;
    background: $brand-accent;
    padding: 1rem;
    box-shadow: 0 4px 4px darken($brand-blue, 5%);
    animation: slideinfromleft 0.8s linear forwards;
    & img {
      box-shadow: 0 4px 4px darken($brand-blue, 5%);
      max-width: 20rem;
    }
  }
  & .about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    background: darken($brand-blue, 5%);
    box-shadow: 0 4px 4px darken($brand-blue, 10%);
    padding: 4rem;
    position: absolute;
    left: 17vw;
    top: 2vh;
    opacity: 0;
    animation: slideinfromright 0.8s linear forwards;
    z-index: 0;
    & p {
      color: $brand-text;
      line-height: 2;

      &::after {
        content: "";
        width: 6rem;
        height: 0.2rem;
        background: $brand-brown;
        display: block;
        margin: 1rem 0;
      }
    }
  }
}
@media screen and (max-width: 1800px) {
  .about__container {
    & .info__container {
      width: 50vw;
    }
    & .about__text {
      left: 20vw;
    }
  }
}

@media screen and (max-width: 1500px) {
  .about__container {
    & .photo__container {
      & img {
        max-width: 18rem;
      }
    }
    & .about__text {
      padding: 1rem 4rem;
      width: 20rem;
      top: 2vh;
      left: 20vw;
    }
  }
}
@media screen and (max-width: 1350px) {
  .about__container {
    & .about__text {
      padding: 1rem 4rem;
      width: 25rem;
      top: 4vh;
      left: 22vw;
    }
  }
}
@media screen and (max-width: 1200px) {
  .about__container {
    & .info__container {
      width: 60vw;
    }
    & .photo__container {
      & img {
        max-width: 18rem;
      }
    }
    & .about__text {
      padding: 1rem 2rem 1rem 6rem;
      width: 20rem;
      top: 4vh;
      left: 25vw;
    }
  }
}
@media screen and (max-width: 950px) {
  .about__container {
    & .info__container {
      width: 90vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
    }
    & .photo__container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      & img {
        max-width: 17rem;
        position: relative;
      }
    }
    & .about__text {
      position: relative;
      padding: 1rem 2rem;
      width: 17rem;
      top: 0;
      left: 0;
    }
  }
}
@media screen and (max-width: 700px) {
  .about__container {
    & .title__container {
      & h1 {
        font-size: 3rem;
        margin-top: 2rem;
        min-width: 22rem;
      }
      & p {
        font-size: 1.5rem;
      }
    }
    & .info__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
    }
    & .photo__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & img {
        max-width: 14rem;
        position: relative;
      }
    }
    & .about__text {
      position: relative;
      padding: 0rem;
      width: 100%;
      top: 0;
      left: 0;
      & p {
        width: 80%;
      }
    }
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideinfromright {
  0% {
    opacity: 0;
    transform: translate(20vw, 20vh);
  }
  90% {
    opacity: 0.5;
    transform: translate(2vw, 2vh);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes slideinfromleft {
  0% {
    opacity: 0;
    transform: translate(-20vw, 20vh);
  }
  90% {
    opacity: 0.5;
    transform: translate(-2vw, 2vh);
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
