@import "../../../../sass/variables";
.header {
  min-height: 100vh;
  background: $brand-blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  & .title__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 4;
    margin: 2rem 0;
    & h1 {
      font-family: "Tangerine", Verdana, Geneva, Tahoma, sans-serif;
      color: $brand-brown;
      font-size: 5rem;
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-width: 25rem;
      &::before {
        content: "";
        width: 7rem;
        height: 0.2rem;
        display: block;
        background: $brand-accent;
      }
      &::after {
        content: "";
        width: 7rem;
        height: 0.2rem;
        display: block;
        background: $brand-accent;
      }
    }
    & p {
      margin: 0;
      color: $brand-text;
      font-size: 2rem;
      font-family: "EB Garamond", "Lucida Sans", "Lucida Sans Regular",
        "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
  }
  & .info__container {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 50vw;
  }
  & .photo__container {
    z-index: 2;
    background: $brand-accent;
    padding: 1rem;
    & img {
      box-shadow: 0 4px 4px darken($brand-blue, 5%);
      max-width: 20rem;
    }
  }
  & .about__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 25rem;
    background: darken($brand-blue, 5%);
    padding: 5rem;
    position: absolute;
    transform: translate(19rem, 2rem);
    z-index: 0;
    & p {
      color: $brand-text;
      line-height: 2;
    }
  }
}
